<ion-view>
    <ion-content class="has-header">
        <div class="user" ng-click="login()">
            <div class="user_img"></div>
            <p class="user_name">{{userName}}</p>
            <div class="vip">V<span>1</span>会员</div>
        </div>
        <div class="menu list">
            <ul>
                <h2>订单相关</h2>
                <li class="item"><a href="#">待付款<span></span></a></li>
                <li class="item"><a href="#">待发货<span></span></a></li>
                <li class="item"><a href="#">待收货<span></span></a></li>
                <h2>个人账户</h2>
                <li class="item"><a href="#">个人资料修改<span></span></a></li>
                <li class="item"><a href="#">我的优惠券<span></span></a></li>
                <li class="item"><a href="#">收藏内容<span></span></a></li>
                <li class="item"><a href="#">最近购买<span></span></a></li>
                <h2>售后服务</h2>
                <li class="item"><a href="#">联系客服<span></span></a></li>
                <li class="item"><a href="#">常见问题<span></span></a></li>
                <li class="item"><a href="#">购物说名<span></span></a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>